

.separator-container .separator-wrapper {
    padding: 10px 0;
    width: 100%;
    min-height: 20px;
    display: block;
}
.separator-container .separator-wrapper .separator {
    width: 100%;
    display: block;
}
.separator-wrapper .separator-line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #dddddd;
}

.separator-wrapper .separator-line.light {
    background-color: var(--dark-color);
}
.separator-wrapper .separator-line.dark {
    background-color: var(--light-color);
}
.separator-wrapper .separator-line.hidden {
    background-color: transparent;
}

.separator-wrapper .separator-line.small {
    height: 2rem;
}
.separator-wrapper .separator-line.medium {
    height: 4rem;
}
.separator-wrapper .separator-line.large {
    height: 6rem;
}